<!-- <img id="home-hero" src="assets/homepageSlide.jpg" height="550"> -->
<div id="homepage-main" class="jumbotron">
	<div class="col-md-9 col-md-offset-2" style="margin-top:75px;">
		<h1>American Telecom West</h1>
		<p>Working with you to design telecom solutions driven by your unique needs.</p>
		<p><a role="button" class="btn btn-primary btn-lg">Learn more »</a></p>
	</div>
</div>

<div id="homepage-sections" class="clearfix">
	<div class="col-sm-4"  data-toggle="modal" data-target=".san-francisco-modal">
		<img class="img-circle" src="assets/sf_thumb.jpg">
		<h3>San Francisco</h3>
	</div>
	<!-- Small modal -->
	<div class="modal fade san-francisco-modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">San Francisco</h4>
				</div>
				<div class="modal-body">
					info goes here
				</div>
			</div>
		</div>
	</div>
	<!-- /small modal -->


	<div class="col-sm-4" data-toggle="modal" data-target=".los-angeles-modal">
		<img class="img-circle" src="assets/la_thumb.jpg">
		<h3>Los Angeles</h3>
	</div>
	<!-- Small modal -->
	<div class="modal fade los-angeles-modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Los Angeles</h4>
				</div>
				<div class="modal-body">
					info goes here
				</div>
			</div>
		</div>
	</div>
	<!-- /small modal -->

	<div class="col-sm-4" data-toggle="modal" data-target=".boise-modal">
		<img class="img-circle" src="assets/boise_thumb.jpg">
		<h3>Boise</h3>
	</div>
	<!-- Small modal -->
	<div class="modal fade boise-modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Boise</h4>
				</div>
				<div class="modal-body">
					info goes here
				</div>
			</div>
		</div>
	</div>
	<!-- /small modal -->
</div>