<!-- <img id="home-hero" src="assets/homepageSlide.jpg" height="550"> -->
<div id="homepage-main" class="jumbotron">
	<div class="col-md-9 col-md-offset-2 home-main-div">
		<h1>American Telecom West</h1>
		<p>Working with you to design telecom solutions driven by your unique needs.</p>
		<h2>What are you interested in?</h2>
		<div id="home-buttons">
		<p class="col-sm-6 col-xs-12"><a href="/" role="button" class="btn btn-primary btn-lg col-xs-12 col-md-10">Structured Cabling »</a></p>
		<p  class="col-sm-6  col-xs-12" style="float:right;"><a href="/" role="button" class="btn btn-primary btn-lg  col-xs-12 col-md-10">Nortel Legacy Solutions »</a></p>
		</div>
	</div>
</div>


<!-- Small modal -->
<div class="modal fade san-francisco-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" id="myModalLabel">San Francisco</h3>
				<div class="office-location">
					<h4>San Francisco Office</h4>
					<p>PO Box 1073
						<br>
						Benicia, CA 94510
					</p>
				</div>
				<div class="office-location">
					<h4>Joe</h4>
					<p><a href="mailto:amtelwest@earthlink.net">amtelwest@earthlink.net</a></p>
					<p>cell: (415) 902-3395</p>
					<p>office: (707) 748-2190</p>
					<p>(800) 987-0010</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /small modal -->
<!-- Small modal -->
<div class="modal fade boise-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" id="myModalLabel">Boise</h3>
				<div class="office-location">
					<h4>Boise Office</h4>
					<p>11832 W. Wilmont Street
						<br>
						Boise, ID 83709
					</p>
				</div>
				<div class="office-location">
					<h4>David</h4>
					<p><a href="mailto:david@boisenetworks.net">david@boisenetworks.net</a></p>
					<p>phone: (208) 863-6013</p>
					<p>fax: (208) 362-4049</p>
					<p>(800) 987-0010</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /small modal -->

<div id="homepage-sections" class="clearfix">
	<div class="col-sm-9 col-sm-offset-4"  data-toggle="modal" data-target=".san-francisco-modal">
		<img class="img-circle" src="assets/sf_thumb.jpg">
		<div class="col-sm-9">
			<h2>San Francisco</h2>
			<p><a role="button" class="btn btn-primary btn-lg">View Contact Info</a></p>
		</div>	
	</div>

	<div class="col-sm-9 col-sm-offset-4" data-toggle="modal" data-target=".boise-modal" style="margin-top:115px;">
		<img class="img-circle" src="assets/boise_thumb.jpg">
		<div class="col-sm-9">
			<h2>Boise</h2>
			<p><a role="button" class="btn btn-primary btn-lg">View Contact Info</a></p>
		</div>
	</div>
</div>