<div class="col-xs-12" id="tmetrics">
<h1>Nortel Legacy solutions</h1>
<br>
<div class="col-xs-12 col-sm-10">
<p>
 American Telecom West has been providing Nortel Legacy solutions for medium and large businesses for over 25 years, both domestically and abroad. The services that we offer allow our clients allow them to protect their existing infrastructure for the foreseeable future. Our highly skilled and certified personnel can provide expert installation and maintenance services on all Nortel Networks Meridian equipment including Meridian 1 PBX, Meridian Mail, Call Pilot and Symposium. In addition, we offer expert service on Avaya Octel voice processing equipment. 
</p>
<h3>Some of the key services we provide include:</h3>
<ul class="bullet-list">
<li>Complete turnkey PBX and voicemail system installations</li>
<li>Comprehensive and flexible 24 by 7 maintenance contracts</li>
<li>Reliable Remote 24 by 7 system monitoring and repair</li>
<li>Daily Move/Add/Change and operational support </li>
<li>Effective problem management and resolution</li>
<li>Efficient project management and implementation of large scale corporate installations, moves and other Telecommunications Projects </li>
<li>Complete ACD Call Center design, implementation and support</li>
<li>Tenacious carrier coordination and vendor management</li>
<li>Strategic converged network planning, implementation and support, including VoIP technologies, audio/video teleconferencing, wireless solutions and unified messaging</li>
<li>Toll fraud and security auditing, analysis and optimization</li>
</ul>

<h3>Additional professional services include:</h3>
<ul class="bullet-list">
<li>Telecommunications RFP development, analysis and vendor selection</li>
<li>Asset Disposal and financial recovery services</li>
<li>Carrier billing audit and cost recovery</li>
<li>Best of class carrier rate and term benchmarking</li>
<li>Carrier contract analysis, evaluation and negotiation</li>
<li>Uptime availability and reliability analysis, evaluation and optimization solution implementation</li>
<li>Disaster Recovery analysis evaluation and solution implementation</li>
<li>Call Detail Recording data collection and reporting</li>
</ul>
<p>
American Telecom West works aggressively to offer telecommunications solutions that are driven by your business goals and needs. Our goal is to deliver effective and cost efficient solutions that meet timelines and budgets in line with your business plan. We have both the expertise and the experience to take on the detailed coordination of your upcoming telecom projects and deliver best of class service to keep your voice network infrastructure robust and performing efficiently. Call us today to see if we can help you with your telecommunication needs. We look forward to partnering with you.
</p>

<br><br>
Sincerely,
<br><br>
<p>
<strong>Joseph P. Feller</strong><br>
President, American Telecom West, Inc.<br>
<a href="mailto:joe@americantelecomwest.com">joe@americantelecomwest.com</a>
</p>
</div>
</div>