<div class="col-xs-12">
<h1>About Structured Cabling</h1>
<br>
<div class="col-xs-12 col-sm-10">
 <p>American Telecom West has been providing  telecommunications solutions for medium and large businesses for over 25  years, both domestically and abroad. Our expertise includes structured cabling and assistance on legacy equipment.
</p>
<h3>Some of the key cabling services we provide include:</h3>
<ul class="bullet-list">
	<li>Complete turnkey cable installations of both Cat 5e and Cat 6 solutions</li>
	<li>Comprehensive testing and reporting capabilities</li>
	<li>Lifetime Guarantees for your cabling installation</li>
	<li>Daily Move/Add/Change and operational support </li>
	<li>Efficient project management and implementation of large scale corporate installations, moves and other</li>
	<li>Telecommunications Projects </li>
	<li>Fiber Optic installation and troubleshooting</li>
	<li>Tenacious carrier coordination and vendor management</li>
</ul>

<h3>Additional professional services include:</h3>
<ul class="bullet-list">
<li>Troubleshooting of carrier cabling and extended D-Marks</li>
<li>Troubleshooting of your legacy equipment</li>
<li>All analog services which may not be supported by your VOIP vendor</li>
<li>Carrier contract analysis, evaluation and negotiation</li>
<li>Disaster Recovery analysis evaluation and solution implementation</li>
</ul>

<p>American Telecom West works aggressively to offer structured cabling solutions that are driven by your business goals and needs. Our goal is to deliver effective and cost efficient solutions that meet timelines and budgets in line with your business plan. We have both the expertise and the experience to take on the detailed coordination of your upcoming telecom projects and deliver best of class service to keep your voice network infrastructure robust and performing efficiently. Contact  us today to see if we can help you with your telecommunication needs. We look forward to partnering with you.
</p>
<br><br>
Sincerely,
<br><br>
<p>
<strong>Joseph P. Feller</strong><br>
President, American Telecom West, Inc.<br>
<a href="mailto:joe@americantelecomwest.com">joe@americantelecomwest.com</a><br>
</p>
</div>
</div>