<div class="col-xs-12" id="tmetrics">
<h1>About T-Metrics</h1>
<br>
<div class="col-xs-12 col-sm-10">
 <img class="img-responsive" src="/assets/tm_logo.gif">
<p>
American Telecom West, Inc. is pleased to announce its partnership with T-Metrics in deploying Best of Breed solutions for your call handling requirements.
</p><p>
T-Metrics product lines fall into two major categories.  The first one is a cross platform Call Center solution.  While leveraging their alliance with Microsoft to provide customizable packages to suite all of your Call Center needs, T-Metrics also has decades of telephony experience which they have used to protect your legacy investments.  T-Metrics Call Center Solution is JITC Certified to operate in any DOD application and protect the security of your particular system.
</p><p>
In addition, T-Metrics has a second line of products known as Consolidated Operator Answering Systems (COAS).  For the first time, Call Center technology can be applied to your traditional operator environment.  T-Metrics has a superior solution over most “in skin” products because it can operate with whatever data bases you may have; both new and legacy.  The COAS solution is also a cross platform solution that allows you to keep the current operators locations while right sizing your staffing needs.
</p><p>
T-Metrics works with the premier brands of Telecommunications Manufacturers including Nortel, Avaya, and Cisco and others.  By working across a number of platforms, T-Metrics allows you to provide your users with robust and dynamic solutions while protecting your legacy investments.
</p><p>
<P>For more information <a href="/assets/T-Metrics-Glue.pdf" target="_blank">click here</a>.</p>
Please take the time to look at T-Metrics website at <a href="http://www.tmetrics.com/" target="_blank">www.tmetrics.com</a> or feel free to <a href="mailto:amtelwest@earthlink.net">contact me</a>.
</p>
<br><br>
Respectfully,
<br><br>
<p>
Joseph P. Feller<br>
President<br>
American Telecom West, Inc.<br>
joe@americantelecomwest.com<br>
</p>
</div>
</div>