<div class="container" id="services-page">
<h1>Cabling Services Provided by American Telecom</h1>
<ul class="col-xs-12">
  <% @services.each do |s| %>
  <li>
    <p><%= s.description %></p>
  </li>
<% end %>  
</ul>

<h1>Additional Services Provided by American Telecom</h1>
<ul class="col-xs-12">
  <% @additional_services.each do |as| %>
  <li>
    <p><%= as.description %></p>
  </li>
<% end %>
</ul>

</div>

