<h1>Frequently Asked Questions</h1>
<% @faqs.each do |faq| %>
<ul>
  <li>
    <h2><%= faq.question %></h2>
    <p><%= faq.answer %></p>

    
    <%if user_signed_in? && is_admin? %>
    <%= link_to "Delete", faq, method: :delete, class: "delete_link", remote: true %>
    <%= link_to "Edit", edit_faq_path(faq), class: "edit_link" %>
    <% end %>


  </li>
</ul %>
<% end %>

