
<%= form_for @additional_service do |f| %>
<h2>Add a New Additional Service</h2>
<div class="form-inline">
  <div class="form-group col-xs-12">
    <%= f.text_field :description, class: "form-control", placeholder: "Service Description" %>
  </div>
</div>
<%= f.submit class: "btn btn-primary" %>

<% end %>