<div class="container" id="clients-page">
<h1>Satisfied Clients</h1>

<ul id="customer-list" class="clearfix center-block col-xs-12">
<% @clients.each do |c| %>
  <li class="col-sm-3 col-xs-6">
     <img class="img-responsive" src="<%= c.logo_url %>">
      <%if user_signed_in? && is_admin? %>
      <%= link_to "Delete", c, method: :delete, class: "delete_link", remote: true %>
      <%= link_to "Edit", edit_client_path(c), class: "edit_link" %></li>
      <% end %>
  </li>
<% end %>
</ul>
</div>