<div class="container" id="services-page">
<h1>Nortel Services Provided by American Telecom</h1>
<ul class="col-xs-12">
  <% @nortel_services.each do |s| %>
  <li>
    <p><%= s.description %></p>
  </li>
<% end %>  
</ul>

<h1>Additional Nortel Services Provided by American Telecom</h1>
<ul class="col-xs-12">
  <% @additional_services.each do |as| %>
  <li>
    <p><%= as.description %></p>
  </li>
<% end %>
</ul>

</div>

