@media (max-width: 610px){

.home-main-div{margin-top:0 !important;}

  #homepage-sections{
   img{
    display:block !important;
    float:none !important;
    margin:0 auto !important;
    text-align:center !important;
  } 



}

#homepage-sections > div {
  margin-top:50px !important;
  height:auto !important;

  div {
    float:none;
    margin: 0 auto;
    text-align:center;
  }
} 

}



/* //////////////// navbar ///////////////// */
#companyName {
  max-width:300px;
  padding:0;

  img{
    max-height:50px;
    opacity:.55;
    padding:2px;
  }
}

.navbar-default {
  background-color: #FFFFFF;
  border-color: #959595;
}

.navbar-nav {
  li {
    display: inline;
    a.active {
      opacity: .5;
    }
    a:hover {
      opacity: .5;
    }
  }
}
.navbar-brand {
  padding-left: 0px;
}

.admin-dashboard {
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 50px;
  margin: 0 auto;
  background-color: #F8F8F8;
  border-top: 1px solid gray;
  padding: 20px 0;
  ul {
    width: 1200px;
    margin: 0 auto;
    li {
      list-style: none;
      display: inline-block;
      margin: 0px 50px 0px 0; 
    }
  }
}

.main-container {
  margin:75px auto 25px auto;
}

ul li {
  list-style: none;

}



/* //////////////// footer ///////////////// */
footer{
background: #cdcfcf;
padding: 15px 0 1px 0;
  
  p{
color: #666;
font-size: 12px;
text-align: center;
font-weight: bold;
  }
}


/* //////////////// sitewide ///////////////// */

.btn-primary {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.65);
  border-color: #444;
  color: #444;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-color: #fde547;
  border-color: #a4942c;
  color: #444;
}

h1{
  background-color:#fde547;
  padding:15px;
  clear:both;
}

/* //////////////// homepage ///////////////// */

.home-main-div {
    margin-top:75px;
}

#homepage-main{
  background: url('/assets/homepageSlide_small.jpg') no-repeat center top;
  min-height:500px;
  margin-top:-25px;
  -webkit-box-shadow: 0 3px 12px 2px rgba(0,0,0,.35);
  box-shadow: 0 3px 12px 2px rgba(0,0,0,.35);
}

.jumbotron{
  margin-bottom:0;
}


#homepage-sections{
  height:575px;
  background: url('/assets/homepage_background.png') no-repeat center center;
  margin-top:-10px;

  h2{
    color: #FFFFFF;
    display:inline-block;
    text-align:left;
  }

  img{
   border: solid 2px #fff;
   float:left;
   margin-top:2%;
 } 

}

#homepage-sections > div{
  cursor:pointer;
  height: 150px;
  position: relative;
  margin-top: 100px;

  div{padding-left: 20px;}
}

#home-buttons{
  p{display:inline-block;}
  a {padding:15px 30px;}
}

.home-banner{
text-align:center;
margin-top:5px;
h3{font-size:20px;}
  h3, img {display:inline-block; padding-right:10px;}
  img{max-width:250px}
}

/* //////////////// location modals ///////////////// */

.modal h3 {
  background:#FDE547;
  padding:10px;
  width: 95%;
  }

.office-location {
  border-bottom: 2px dotted #CCCCCC;
  margin:15px;
}

.office-location:last-of-type {border-bottom: none;}


/* //////////////// customer list page ///////////////// */

#clients-page{
  h1 {padding-left:15px}

}

#customer-list{
  padding-top:25px;

  h3{font-size:18px !important;}
  p{font-size:12px;}
  
  li{
    height:150px;
    line-height:1.1;
    letter-spacing:.25px;
    overflow:hidden;

    div{bottom:2px;}

    img{max-height:150px;}
  }
}

/* //////////////// individual services page ///////////////// */

.bullet-list li {
  list-style:inherit;
}

/* //////////////// services/faq pages ///////////////// */
#services-page {
h3 {margin-top: 0;}

ul {
  margin: 0 0 15px 15px;
   li {
   list-style:inherit;
   line-height:1.4em;
   padding:3px 0;
   }
  }

 }
 #faq-page{
  h3 {
    margin-top: 0;
  }
  ul {
    padding-bottom:25px;

    li{
     border-bottom:solid 1px #ccc;
     font-size:16px;
     line-height:1.2;
     letter-spacing: 0.5px;
     margin:15px;
     padding:15px;
     width:90%;
   }

   li:last-of-type{
     border-bottom:none;
   }
 }
}

#clients-page li {
  min-height: 240px;
}


/* //////////////// admin pages ///////////////// */

#admin-page {
  padding-bottom: 100px;
  h3 {
    font-size: 16px;
  }
  ul {
    padding: 0;
  }
  div {
    padding-top: 30px;
    display: block;
    clear: both;
    position: relative;
    li {
      border: 1px solid #dddddd;
    }
    .delete_link, .edit_link {
      float: right;
      margin-right: 20px;
    } 
    span {
      font-size: 13px;
      font-weight: 300;
    }
  }
  .a-faq {
    li {
      min-height: 280px;
    }
  }
  .a-services {
    li {
      min-height: 140px;
      padding-top: 20px;
    }
  }
  .a-additional-services {
    li {
      min-height: 100px;
      padding-top: 20px;
    }
  }
  .a-clients {
    li {
      min-height: 250px;
      img {
        max-width: 300px;
        max-height: 250px;
      }
    }
  }
}





/* //////////////// form pages ///////////////// */

.devise-pages-container {
  
}

form input {
  margin-top: 20px;
}

input[type=submit] {
  background-color: #D9EDF7;

}

input[type=submit]:hover {
  background-color: #D9EDF7;
  opacity: .8;
  border-color: #444;
  color: #444;
}

/* //////////////// t-metrics pages ///////////////// */
#tmetrics{

  img{
    border-bottom: 2px dotted #CCCCCC;
    display: inline-block;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
}

